<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.BookMapper">

    <resultMap id="map1" type="Book">
        <id property="bookid" column="bookid"></id>
        <result property="bookname" column="bookname"></result>
        <result property="writer" column="writer"></result>
        <result property="publishe" column="publishe"></result>
        <result property="press" column="press"></result>
        <association property="user" resultMap="user"></association>
    </resultMap>
    <resultMap id="user" type="User">
        <id property="id" column="uid"></id>
        <result property="name" column="uname"></result>
    </resultMap>
    <select id="selectBillList" resultMap="map1">
        select * from book
    </select>
    <select id="selectBill2" resultType="Book">
        select * from book
    </select>
    <select id="selectById" resultType="Book">
        select * from book where bookname = #{0} and writer=#{1}
    </select>
    <insert id="insertBook" parameterType="Book">
        insert into book (bookname,writer,publishe,press) values (#{bookname},#{writer},#{publishe},#{press});
    </insert>
    <delete id="deleteBook">
        delete from book where id = #{id}
    </delete>
    <update id="updateBook" parameterType="Book" >
        update book set bookname = #{bookname},writer = #{writer},publishe = #{publishe} where bookid = #{bookid};
    </update>
    <insert id="insertBorrow" parameterType="Borrow">
        insert into borrow (userid,bookid) values (#{bookid}.#{userid});
    </insert>
    <update id="updatePress" parameterType="Book" >
        update book set press = #{1} where id=#{id};
    </update>
</mapper>