<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">
    <resultMap id="UserMap" type="User">
        <result property="id" column="id"></result>
        <result property="name" column="name"></result>
        <result property="account" column="account"></result>
        <result property="password" column="password"></result>
        <result property="firmpassword" column="firmpassword"></result>
        <result property="sex" column="sex"></result>
        <result property="date" column="date"></result>
        <result property="tel" column="tel"></result>
        <result property="address" column="address"></result>
        <result property="root" column="root"></result>
    </resultMap>
    <select id="login" parameterType="user" resultMap="UserMap">
        select * from user where name= #{name} and password=#{password}
    </select>
    <select id="selectUser" resultType="User">
        select * from user
        <where>
            <if test="name!=null and name!=''">
                name = #{name }
            </if>
        </where>
    </select>
    <select id="selectByname" resultType="User">
         select * from user where name = #{name}
    </select>
    <update id="userupdate" parameterType="User">
        update user set name=#{name},account=#{account},password=#{password},firmpassword=#{firmpassword},sex=#{sex},date=#{date},tel=#{tel},address=#{address},root=#{root} where id=#{id}
    </update>
    <insert id="insertUser" parameterType="User">
        insert into user(id,name,account,password,firmpassword,sex,date,tel,address,root) values(#{id},#{name},#{account},#{password},#{firmpassword},#{sex},#{date},#{tel},#{address},#{root});
    </insert>
    <update id="pwdUpdate" parameterType="User">
        update user set password=#{newpassword} where id = #{id};
    </update>

</mapper>